aiohttp==3.6.2
aiohttp-cors==0.7.0
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
covid==2.1.0
gunicorn==20.0.4
idna==2.9
multidict==4.7.5
pydantic==1.4
requests==2.23.0
soupsieve==2.0
urllib3==1.25.8
yarl==1.4.2
